<!DOCTYPE html>

<html>
    <head>
        <title>Terminal Access to Online Storage Providers</title>
        
        <link href="{{STATIC_URL}}css/global.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/terminal.js"></script>
    </head>
    <body>
        <div id="entry-wrapper"><input type="text" id="entry" autofocus="true"></div>
        <div id="terminal">
            <div id="active-line"></div>
            <span id="cursor">&nbsp;</span>
        </div>
    </body>
</html>